.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  min-height: 50vh;
}

.bg-gradiant {
  background: rgb(55, 48, 163);
  background: linear-gradient(
    90deg,
    rgba(55, 48, 163, 1) 0%,
    rgba(127, 29, 29, 1) 100%
  );
}

.icon {
  margin: 4px;
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.layout-navbar {
  width: 100%;
  height: 60px;
}

.layout-navbar-articleref {
  background-color: gainsboro;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-navbar-articleref > p,
a {
  color: gray;
}

.layout-navbar > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.layout-footer {
  letter-spacing: 4px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.result {
  text-align: center;
}

.person-list {
  margin: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.person-list > a {
  text-decoration: none;
}

.person-card {
  padding: 10px 15px;
  background-color: #adc7fa;
  color: #282c34;
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.person-card-description {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person-details > span {
  padding: 4px;
}
